<div class="task">
    <div class="top">
        <h1>Tasks</h1>
        <button type="button" (click)="toggleCompletedVisibility()">{{visibleButtonText}}</button>
    </div>
    @for (task of tasks; let i = $index; track i) {

        @if (!task.completion || isCompletedVisible) {
            <div class="task-item">
                <div class="title">
                    <p>{{task.description}}</p>
                    <div class="buttons">
                        <input type="checkbox" name="completion" id="" [checked]="task.completion" (click)="processComplete($event, i)">
                        <button type="button" (click)="deleteTask(i)">X</button>
                    </div>
                </div>
                <div class="small-text">
                    <p>{{task.priority}}</p>
                    <p>{{task.due}}</p>
                </div>
            </div>
        }
    }
</div>