<h1>Todo</h1>
<form action="" [formGroup]="todoForm" (ngSubmit)="processForm()">
    <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" [class]="isFieldValid('description') ? 'valid' : 'invalid'">
    </mat-form-field>


    <p>Priority</p>
    <mat-radio-group formControlName="priority" [class]="isFieldValid('priority') ? 'valid' : 'invalid'">
        <mat-radio-button type="radio" value="high">
            High
        </mat-radio-button>
        <mat-radio-button type="radio"  value="medium">
            Medium
        </mat-radio-button>
        <mat-radio-button type="radio" value="low">
            Low
        </mat-radio-button>
    </mat-radio-group>

    <mat-form-field [class]="isFieldValid('due') ? 'valid' : 'invalid'">
        <mat-label>Due Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="due" >
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <br>
      <br>
    <button type="submit" [disabled]="!isFieldValid('due')" mat-flat-button>Add</button>

</form>