<h1>Todo</h1>
<form action="" [formGroup]="todoForm" (ngSubmit)="processForm()">
    <table>
        <tr>
            <td><label for="description">Description</label></td>
            <td>
                <input type="text" name="description" id="description" formControlName="description" [class]="isFieldValid('description') ? 'valid' : 'invalid'">
            </td>
        </tr>
        <tr>
            <td><p>Priority</p></td>
            <td [class]="isFieldValid('priority') ? 'valid' : 'invalid'">
                <input type="radio" name="priority" id="high" formControlName="priority" value="high">
                <label for="high">High</label>
                <input type="radio" name="priority" id="medium" formControlName="priority" value="medium">
                <label for="medium">Medium</label>
                <input type="radio" name="priority" id="low" formControlName="priority" value="low">
                <label for="low">Low</label>
            </td>
        </tr>
        <tr>
            <td><label for="due">Due</label></td>
            <td>
                <input type="date" name="due" id="due" formControlName="due" [class]="isFieldValid('due') ? 'valid' : 'invalid'">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Add</button>
            </td>
        </tr>
    </table>
</form>